<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_label}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{%url 'admin:index'%}">Admin page</a>
                    <a class="navbar-item" href="https://dev-booknet.herokuapp.com/">Open Dev environment</a>
                    <a class="navbar-item" href="{{changelog.open_api_ui}}">Open OpenApi</a>
                </div>
          </div>
        </nav>
        {% block content %}
        <div class="has-background-grey-dark p-5">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            {{changelog.text|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>